{% for gig in gig_list %}
<article class="content gig">
    <div class="gig-date">
        <h3 class="content-title">{{ gig.date|date:"M j" }}</h3>
        <p class="content-subtitle">{{ gig.date|date:"l" }}</p>
    </div>
    <div class="gig-venue">
        <p>{{ gig.venue.name }}
            <br>{{ gig.venue.city }}
        </p>
    </div>
    <div class="gig-description">
        {{ gig.description|safe }}
    </div>
    <div class="gig-details">
        {{ gig.details|safe }}
    </div>
</article>
{% empty %}
<article class="content">
    <p>More dates TBA&hellip;</p>
</article>
{% endfor %}
