{% extends "base.html" %}
{% load cloudinary %}

{% block title %}Live | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<figure class="hero-img">
    <img src="{% cloudinary_url "hth_lily_pad.jpg" width="1280" height="480" crop="fill" gravity="custom" effect="sharpen" %}" alt="HTH live" title="Photographer: Sam Quinn">
</figure>

<article class="container content gig-list">

    <h1 class="container-header">Live</h1>

    <div class="content-section">
        {% include "shows/_gig_upcoming.html" with gig_list=gig_list.upcoming %}
    </div>

    <section class="content-section">
        <h2>Past Shows</h2>

        {% for gig in gig_list.past %}
        <article class="content gig">
            <div class="gig-date">
                <h3 class="content-title">{{ gig.date|date:"M j" }}</h3>
                <p class="content-subtitle">{{ gig.date|date:"Y" }}</p>
            </div>
            <div class="gig-venue">
                <p class="content-title">{{ gig.venue.name }}</p>
                <p class="content-subtitle">{{ gig.venue.city }}</p>
            </div>
            <div class="gig-description">
                {{ gig.description|safe }}
            </div>
        </article>
        {% endfor %}
    </section>
</article>
{% endblock %}
