{% extends "base.html" %}
{% load cloudinary %}

{% block title %}Live | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<figure class="hero-img">
    <img src="{% cloudinary_url 'hth_lilypad_1.jpg' width='1280' height='480' crop='fill' gravity='custom' secure=True %}" alt="HTH live">
    <figcaption>
        <div class="img-credit">Photo courtesy of <a href="http://www.samuelquinn.com/">Samuel Quinn</a></div>
    </figcaption>
</figure>

<article class="container content gig-list">

    <h1 class="container-header">Live</h1>

    <div class="content-section">
        {% include "shows/_gig_upcoming.html" with gig_list=gig_list.upcoming %}
    </div>

    <section class="content-section">
        <h2>Past Shows</h2>

        {% for gig in gig_list.past %}
        <article class="content gig">
            <div class="gig-date">
                <h3 class="content-title">{{ gig.date|date:"M j" }}</h3>
                <p class="content-subtitle">{{ gig.date|date:"Y" }}</p>
            </div>
            <div class="gig-venue">
                <p class="content-title">{{ gig.venue.name }}</p>
                <p class="content-subtitle">{{ gig.venue.city }}</p>
            </div>
            <div class="gig-description">
                {{ gig.description|safe }}
            </div>
        </article>
        {% endfor %}
    </section>
</article>
{% endblock %}
