{% extends "base.html" %}

{% block title %}Shows | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<article class="container content gig-list">
    <h1 class="container-header">Shows</h1>

    <section class="content-section">
        <h2>Upcoming Shows</h2>
        {% include "shows/_gig_upcoming.html" with gig_list=gig_list.upcoming %}
    </section>

    <section class="content-section">
        <h2>Past Shows</h2>

        {% for gig in gig_list.past %}
        <article class="content gig">
            <div class="gig-date">
                <h3 class="content-title">{{ gig.date|date:"M j" }}</h3>
                <p class="content-subtitle">{{ gig.date|date:"Y" }}</p>
            </div>
            <div class="gig-venue">
                <p class="content-title">{{ gig.venue.name }}</p>
                <p class="content-subtitle">{{ gig.venue.city }}</p>
            </div>
            <div class="gig-description">
                {{ gig.description|safe }}
            </div>
        </article>
        {% endfor %}
    </section>
</article>
{% endblock %}
