{% extends "base.html" %}
{% load markdown_tags %}

{% block title %}News | {{ block.super }}{% endblock %}

{% block main_class %}object-list {{ block.super }}{% endblock %}

{% block main_content %}
    <h2>News</h2>

    {% for post in post_list %}
    <article class="post">
        <header>
            <h3 class="title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h3>
            <p class="date">{{ post.publish_on|date }}</p>
        </header>

        {% if forloop.first %}
        <section class="body">
            {{ post.body|markdownify|safe }}
        </section>
        {% endif %}

    </article>
    {% endfor %}
{% endblock %}
