{% extends "base.html" %}
{% load markdown_tags %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block main_class %}object-detail {{ block.super }}{% endblock %}

{% block main_content %}
    <article class="post">

        <header>
            <h2 class="title">{{ post.title }}</h2>
            <p class="date">{{ post.publish_on|date }}</p>
        </header>

        <section class="body">
            {{ post.body|markdownify|safe }}
        </section>

    </article>
{% endblock %}
