{% extends "base.html" %}

{% block title %}News | {{ block.super }}{% endblock %}

{% block main_content %}
    <h2>News</h2>

    {% for post in post_list %}
    <article class="content post">
        <header class="content-header">
            <h3 class="content-title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h3>
            <p class="content-subtitle">{{ post.publish_on|date }}</p>
        </header>

        {% if forloop.first %}
        <div class="content-body">
            {{ post.body|safe }}
        </div>
        {% endif %}
    </article>
    {% endfor %}
{% endblock %}
