{% extends "base.html" %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block main_content %}
    <article class="content post">
        <header class="content-header">
            <h2 class="content-title">{{ post.title }}</h2>
            <p class="content-subtitle">
                <time datetime="{{ post.publish_on|date:"c" }}">{{ post.publish_on }}</time>
            </p>
        </header>

        <div class="content-body">
            {{ post.body|safe }}
        </div>
    </article>
{% endblock %}
