.cards {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);

    // TODO: Add cards-header

    .card {
        @include flex-basis(20em);
        margin: 0 1em;
    }

    .card-image {
        background: whitesmoke;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
        }
    }
}
