.content-feature {
    margin-bottom: $small-spacing;
}

.content-subtitle {
    margin-top: -$small-spacing;
}

.content-section {
    margin: $section-spacing 0;
}

.content-gallery {
    @include clearfix;
    margin-bottom: -$section-spacing;
}
