.size {
    &-xlarge {
        font-size: modular-scale(2);
        line-height: modular-scale(-2, $base-line-height);
    }

    &-large {
        font-size: modular-scale(1);
        line-height: modular-scale(-1, $base-line-height);
    }

    &-medium {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }

    &-small {
        font-size: modular-scale(-1);
        line-height: modular-scale(1, $base-line-height);
    }
}

body {
    @extend .size-medium;
    color: $base-font-color;
    font-family: $base-font-family;
}

.heading {
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    margin: 0 0 $base-spacing;

    &.content-title a {
        text-decoration: none;
    }
}

h1 {
    @extend .heading;
    @extend .size-large;
}

h2 {
    @extend .heading;
    @extend .size-medium;
    text-transform: uppercase;
}

h3, h4, h5, h6 {
    @extend .heading;
    @extend .size-medium;
}

.content-highlight {
    .content-title {
        @extend .size-large;
    }
}

p, ul, ol, figure, blockquote, .embed {
    margin: 0 0 $base-spacing;
}

a {
    color: $action-color;
    text-decoration: underline;

    &:active,
    &:focus,
    &:hover {
        color: $action-color-hover;

        img {
            opacity: .75;
        }
    }

    .icon & {
        text-decoration: none;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $large-spacing 0;
}

iframe, img, picture {
    background-color: lighten($base-border-color, 10%);
    display: block;
    margin: 0;
    max-width: 100%;
}

article {
    margin-bottom: $large-spacing;
}

blockquote {
    border-left: 1px solid $base-border-color;
    padding: 0 $small-spacing;
}

.citation {
    margin: -$base-spacing $base-spacing 0 0;
    padding: $small-spacing 0;
    text-align: right;

    cite {
        font-style: normal;
    }
}

figure {
    img {
        display: block;
    }
}

figcaption {
    text-align: center;
}

.img-credit {
    @extend .size-small;
    padding-right: $base-spacing;
    text-align: right;
}

article ol,
article ul {
    counter-reset: li;
    display: table;

    li {
        counter-increment: li;
        display: table-row;

        &::before {
            content: counter(li) ".";
            display: table-cell;
            padding-right: $small-spacing / 2;
            text-align: right;
        }

        // TODO: Find a less fragile way to work around margin on <p>, etc.
        // not collapsing due to display: table.
        &:last-child > :last-child {
            margin-bottom: 0;
        }
    }
}

article ul li::before {
    content: "\2022";
}
