body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.container-section {
    margin-bottom: $base-spacing * 2;
}

.container-header {
    margin-bottom: $base-spacing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0 0 $small-spacing;

    &.content-title a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    font-size: modular-scale(1);
}

h2 {
    text-transform: uppercase;
}

.content-highlight {
    .content-title {
        font-size: modular-scale(1);
    }
}


p, ul, ol, figure {
    margin: 0 0 $small-spacing;
}

a {
    color: $action-color;
    text-decoration: underline;
    transition: all $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        color: $action-color-hover;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

article {
    margin-bottom: $base-spacing;
}

blockquote {
    border-left: 1px solid $base-border-color;
    margin: 0 0 $small-spacing;
    padding: 0 $small-spacing / 2;
}

.citation {
    margin: -$small-spacing $small-spacing 0 0;
    padding: ($small-spacing / 2) 0;
    text-align: right;

    cite {
        font-style: normal;
    }
}

figure {
    img {
        display: block;
    }
}

figcaption {
    text-align: center;
}
