body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0 0 $base-spacing;

    &.content-title a {
        text-decoration: none;
    }
}

h1 {
    font-size: modular-scale(1);
}

h2 {
    text-transform: uppercase;
}

.content-highlight {
    .content-title {
        font-size: modular-scale(1);
    }
}


p, ul, ol, figure {
    margin: 0 0 $base-spacing;
}

a {
    color: $action-color;
    text-decoration: underline;
    transition: color $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        color: $action-color-hover;
    }

    &[class^="socicon"] {
        padding-right: $small-spacing;
        text-decoration: none;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $large-spacing 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

article {
    margin-bottom: $large-spacing;
}

blockquote {
    border-left: 1px solid $base-border-color;
    margin: 0 0 $base-spacing;
    padding: 0 $small-spacing;
}

.citation {
    margin: -$base-spacing $base-spacing 0 0;
    padding: $small-spacing 0;
    text-align: right;

    cite {
        font-style: normal;
    }
}

figure {
    img {
        display: block;
    }
}

figcaption {
    text-align: center;
}

article ol,
article ul {
    counter-reset: li;
    display: table;

    li {
        counter-increment: li;
        display: table-row;

        &::before {
            content: counter(li) ".";
            display: table-cell;
            padding-right: $small-spacing / 2;
            text-align: right;
        }
    }
}

article ul li::before {
    content: "\2022";
}
