@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

// Typography
$base-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$heading-font-family: "Arial Black", $base-font-family;
$heading-font-weight: 900;

$base-font-size: 1em;
$base-line-height: 1.6;
$base-line-length: 50rem;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #06c;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$heading-color: black;
$action-color: black;
$action-color-hover: lighten($action-color, 40%);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
