{% extends "base.html" %}

{% block title %}Shows | {{ block.super }}{% endblock %}

{% block main_class %}object-list {{ block.super }}{% endblock %}

{% block main_content %}
    <h2>Shows</h2>

    {% for gig in gig_list %}
    <article class="gig">

        <header>
            <h3>{{ gig.date|date }}</h3>
            <p>{{ gig.venue.name }}, {{ gig.venue.city }}</p>
        </header>

        {% if gig.description %}
        <section class="description">
            {{ gig.description|safe }}
        </section>
        {% endif %}

    </article>
    {% endfor %}
{% endblock %}
