{% extends "bandcms/base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<main class="detail">
    <article class="song">
        <header>
            <h2>{{ object.title }}</h2>
            <p>{{ object.date|date }}</p>
        </header>
        <section>
            {{ object.description|safe }}
        </section>
        <section>
            {{ object.credits|safe }}
        </section>
        <section>
            {{ object.lyrics|safe }}
        </section>
    </article>
</main>
{% endblock %}

