{% extends "bandcms/base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<main class="detail">
    <article class="video">
        <header>
            <h2><a href="{{ object.source_url }}">{{ object.title }}</a></h2>
            <p>{{ object.publish_on|date }}</p>
        </header>
        <section>
            <!-- TODO: Template tag or model property for source urls -->
            {{ object.embed_code|safe }}
        <section>
            {{ object.description|safe }}
        </section>
        <section>
            {{ object.credits|safe }}
        </section>
    </article>
</main>
{% endblock %}

