// $visual-grid: true !global;

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "refills/navigation";
@import "refills/footer";
@import "refills/embed-responsive";
@import "refills/content";

.container {
    @include outer-container;
}

.gig {
    @include clearfix;
    margin-bottom: $small-spacing;

    &:last-child {
        margin-bottom: -$small-spacing;
    }
}

@include media($small-screen-only) {
    .gig-date {
        @include span-columns(2);
    }

    .gig-venue {
        @include span-columns(4);
        @include omega;
    }
}

@include media($medium-screen-up) {
    .gig-date {
        @include span-columns(1);
    }

    .gig-venue {
        @include span-columns(2);
    }

    .gig-info {
        @include span-columns(3);
        @include omega;
    }

    .video-preview {
        @include span-columns(2);
        @include omega(3n);
        margin-bottom: $small-spacing;
    }

    .release-preview {
        @include span-columns(3);
        @include omega(2n);
        margin-bottom: $small-spacing;
    }

    .release-highlight {
        @include clearfix;

        .release-cover {
            @include span-columns(3);
        }

        .release-info {
            @include span-columns(3);
            @include omega;
        }
    }

    @include direction-context(right-to-left) {
        .content-feature.release-cover {
            @include span-columns(3);
        }
    }

    .release-videos {
        clear: both;
    }
}

@include media($xlarge-screen-up) {
    $local-max-width: $xlarge-screen * $max-width / 100%;

    // Hide visual-grid, because it won't scale with the local-max-width
    body:before {
        display: none;
    }

    .container {
        @include outer-container($local-max-width);
    }
}
