@import url(normalize.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #105099;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b0b0b0; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a5a5a5;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #0f4b90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

body > header,
body > main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body > header::after,
  body > main::after {
    clear: both;
    content: "";
    display: table; }
body.type-system-sans {
  font-family: "PT Sans", sans-serif;
  text-align: left; }
  body.type-system-sans::after {
    clear: both;
    content: "";
    display: table; }
  body.type-system-sans h1, body.type-system-sans h2, body.type-system-sans h3, body.type-system-sans p {
    margin: 0; }
  body.type-system-sans hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0; }
  body.type-system-sans p {
    color: #333;
    line-height: 1.5; }
  body.type-system-sans a {
    color: #1565c0;
    text-decoration: none; }
  body.type-system-sans .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Titillium Web", sans-serif;
    font-size: 0.7em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase; }
  body.type-system-sans h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.6em; }
    @media screen and (min-width: 600px) {
      body.type-system-sans h1 {
        font-size: 2.4em; } }
  body.type-system-sans h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.2em; }
    @media screen and (min-width: 600px) {
      body.type-system-sans h2 {
        font-size: 1.4em; } }
  body.type-system-sans code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-family: monaco;
    font-size: 0.65em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  body.type-system-sans h3 {
    font-family: "Titillium Web", sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 0.5em; }
  body.type-system-sans p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "PT Sans", sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em; }
  body.type-system-sans p {
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em; }
    body.type-system-sans p strong {
      font-family: "PT Sans", sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase; }
  body.type-system-sans hr {
    width: 3em; }
  body.type-system-sans a.read-more {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    body.type-system-sans a.read-more span {
      font-size: 1.7em;
      position: absolute;
      right: -10px;
      top: -2px; }
  body.type-system-sans p.author {
    font-family: "PT Sans", sans-serif;
    font-style: italic; }

.navigation-centered {
  width: 100%; }
  .navigation-centered h1 {
    text-align: center; }
  .navigation-centered .navigation-centered-mobile-menu {
    float: right;
    padding-top: 0.5em; }
    @media screen and (min-width: 900px) {
      .navigation-centered .navigation-centered-mobile-menu {
        display: none; } }
  .navigation-centered .navigation-centered-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .navigation-centered .navigation-centered-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .navigation-centered .navigation-centered-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .navigation-centered ul.navigation-centered-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%; }
    .navigation-centered ul.navigation-centered-menu.show {
      display: block; }
    @media screen and (min-width: 900px) {
      .navigation-centered ul.navigation-centered-menu {
        display: block;
        text-align: center; } }
  .navigation-centered ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%; }
    .navigation-centered ul li.nav-link a {
      display: inline-block; }
    .navigation-centered ul li.nav-link:last-child a {
      padding-right: 0; }
    @media screen and (min-width: 900px) {
      .navigation-centered ul li.nav-link {
        display: inline; }
        .navigation-centered ul li.nav-link a {
          padding-right: 1em; } }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .cards .card {
    -webkit-flex-basis: 20em;
    -moz-flex-basis: 20em;
    flex-basis: 20em;
    -ms-flex-preferred-size: 20em;
    margin: 0 1em; }
  .cards .card-image {
    background: whitesmoke;
    overflow: hidden; }
    .cards .card-image img {
      display: block;
      width: 100%; }

/*# sourceMappingURL=styles.css.map */
