button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: black;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #666666;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: black; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375rem;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375rem; }

input,
select {
  display: block;
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: black;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 0, 0, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375rem; }

[type="file"] {
  margin-bottom: 0.75rem;
  width: 100%; }

select {
  margin-bottom: 1.5rem;
  max-width: 100%;
  width: auto; }

ul,
ol {
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75rem; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75rem; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75rem 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75rem 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Arial Black", "Arial Bold", Gadget, "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 1.5rem; }
  h1.content-title a,
  h2.content-title a,
  h3.content-title a,
  h4.content-title a,
  h5.content-title a,
  h6.content-title a {
    text-decoration: none; }

h1 {
  font-size: 1.333em; }

h2 {
  text-transform: uppercase; }

.content-highlight .content-title {
  font-size: 1.333em; }

p, ul, ol, figure {
  margin: 0 0 1.5rem; }

a {
  color: black;
  text-decoration: underline;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #666666; }
  a[class^="socicon"] {
    padding-right: 0.75rem;
    text-decoration: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 3rem 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

article {
  margin-bottom: 3rem; }

blockquote {
  border-left: 1px solid #ddd;
  margin: 0 0 1.5rem;
  padding: 0 0.75rem; }

.citation {
  margin: -1.5rem 1.5rem 0 0;
  padding: 0.75rem 0;
  text-align: right; }
  .citation cite {
    font-style: normal; }

figure img {
  display: block; }

figcaption {
  text-align: center; }

article ol,
article ul {
  counter-reset: li;
  display: table; }
  article ol li,
  article ul li {
    counter-increment: li;
    display: table-row; }
    article ol li::before,
    article ul li::before {
      content: counter(li) ".";
      display: table-cell;
      padding-right: 0.375rem;
      text-align: right; }

article ul li::before {
  content: "\2022"; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header.navigation {
  background-color: transparent;
  padding: 0.75rem 0;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    font-family: "Arial Black", "Arial Bold", Gadget, "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    font-size: 1.77689em;
    line-height: 1;
    margin-bottom: 0;
    max-width: 8em; }
    header.navigation .logo a {
      color: black;
      text-decoration: none; }
      header.navigation .logo a:focus, header.navigation .logo a:hover {
        color: #666666; }
  header.navigation .tagline {
    display: none;
    float: right;
    font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
    font-size: 0.75019em;
    text-transform: none;
    font-weight: normal;
    line-height: 2.36859; }
    @media screen and (min-width: 850px) {
      header.navigation .tagline {
        display: block; } }
  header.navigation .navigation-menu-button {
    display: block;
    float: right;
    margin: 1.77689em 0 0; }
    @media screen and (min-width: 850px) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button a {
      color: black; }
      header.navigation .navigation-menu-button a:focus, header.navigation .navigation-menu-button a:hover {
        color: #666666; }
  header.navigation nav {
    float: none;
    z-index: 9999999; }
    @media screen and (min-width: 850px) {
      header.navigation nav {
        float: right; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 850px) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.navigation-link {
    background: transparent;
    display: block;
    line-height: 1.77689;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 850px) {
      header.navigation ul li.navigation-link {
        background: transparent;
        display: inline;
        padding-left: 1.5rem;
        width: auto; } }
    header.navigation ul li.navigation-link a {
      color: black;
      display: inline-block; }
      header.navigation ul li.navigation-link a:focus, header.navigation ul li.navigation-link a:hover {
        color: #666666; }
    header.navigation ul li.navigation-link.is-active a {
      text-decoration: none; }

.footer {
  border-top: 1px solid #ddd;
  padding: 1.5rem 0 3rem;
  position: relative; }
  .footer li {
    list-style: none; }
  .footer nav {
    font-family: "Arial Black", "Arial Bold", Gadget, "Arial", sans-serif; }
    .footer nav li {
      margin-bottom: 0.75rem; }

@media screen and (min-width: 600px) and (max-width: 849px) {
  .footer-links {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    .footer-links:last-child {
      margin-right: 0; }
    .footer-links:nth-child(2n) {
      margin-right: 0; }
    .footer-links:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 850px) {
  .footer-links {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }
    .footer-links:last-child {
      margin-right: 0; }
    .footer-links:nth-child(3n) {
      margin-right: 0; }
    .footer-links:nth-child(3n+1) {
      clear: left; }

  .footer-top-link {
    text-align: right; } }
.embed-responsive {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive iframe {
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; }

.hero {
  align-items: center;
  background-position: right;
  background-repeat: no-repeat;
  background-size: none;
  display: block;
  display: flex;
  justify-content: center;
  min-height: 18rem;
  padding: 1.5rem 0;
  text-decoration: none; }
  @media screen and (min-width: 850px) {
    .hero {
      background-size: cover;
      background-position: center; } }
  .hero-content {
    font-family: "Arial Black", "Arial Bold", Gadget, "Arial", sans-serif;
    margin: 0 auto;
    width: 90%;
    text-align: center; }
    @media screen and (max-width: 599px) {
      .hero-content {
        font-size: 0.75019em; } }
    @media screen and (min-width: 850px) {
      .hero-content {
        text-align: right; } }
    @media screen and (min-width: 1080px) {
      .hero-content {
        width: 972px; } }

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  main .container {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .container-header {
    margin-bottom: 1.5rem; }
    .navigation-page .container-header {
      display: none; }
  @media screen and (min-width: 1080px) {
    .container {
      max-width: 972px;
      margin-left: auto;
      margin-right: auto; }
      .container::after {
        clear: both;
        content: "";
        display: table; }
      body:before {
        display: none; } }

.content-feature {
  margin-bottom: 1.5rem; }
.content-subtitle {
  margin-top: -1.5rem; }
.content-section {
  margin: 3rem 0; }
.content-gallery {
  margin-bottom: -3rem; }
  .content-gallery::after {
    clear: both;
    content: "";
    display: table; }
  .content + .content-gallery {
    border-top: 1px solid #ddd;
    padding-top: 3rem; }
  @media screen and (min-width: 850px) {
    .content-gallery .lyrics, .content-gallery .press, .content-gallery .post {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%; }
      .content-gallery .lyrics:last-child, .content-gallery .press:last-child, .content-gallery .post:last-child {
        margin-right: 0; }
      .content-gallery .lyrics:nth-child(2n), .content-gallery .press:nth-child(2n), .content-gallery .post:nth-child(2n) {
        margin-right: 0; }
      .content-gallery .lyrics:nth-child(2n+1), .content-gallery .press:nth-child(2n+1), .content-gallery .post:nth-child(2n+1) {
        clear: left; } }

.gig {
  margin-bottom: 1.5rem; }
  .gig::after {
    clear: both;
    content: "";
    display: table; }
  .gig:last-child {
    margin-bottom: -1.5rem; }
  @media screen and (max-width: 599px) {
    .gig-date {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%; }
      .gig-date:last-child {
        margin-right: 0; }
    .gig-venue {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 65.05695%;
      margin-right: 0; }
      .gig-venue:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .gig-date {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 12.64237%; }
      .gig-date:last-child {
        margin-right: 0; }
    .gig-venue {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%; }
      .gig-venue:last-child {
        margin-right: 0; }
    .gig-info {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%;
      margin-right: 0; }
      .gig-info:last-child {
        margin-right: 0; } }

@media screen and (min-width: 600px) and (max-width: 1079px) {
  .release-preview {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
    margin-bottom: 1.5rem; }
    .release-preview:last-child {
      margin-right: 0; }
    .release-preview:nth-child(2n) {
      margin-right: 0; }
    .release-preview:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 1080px) {
  .release-preview {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
    margin-bottom: 1.5rem; }
    .release-preview:last-child {
      margin-right: 0; }
    .release-preview:nth-child(3n) {
      margin-right: 0; }
    .release-preview:nth-child(3n+1) {
      clear: left; } }

@media screen and (min-width: 600px) {
  .release.content-highlight::after {
    clear: both;
    content: "";
    display: table; }
  .release.content-highlight .release-cover {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    .release.content-highlight .release-cover:last-child {
      margin-right: 0; }
  .release.content-highlight .release-info {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
    margin-right: 0; }
    .release.content-highlight .release-info:last-child {
      margin-right: 0; } }

@media screen and (min-width: 600px) {
  .release-detail .release-cover {
    float: right;
    display: block;
    margin-left: 4.82916%;
    width: 47.58542%; }
    .release-detail .release-cover:last-child {
      margin-left: 0; }
  .release-detail .release-videos {
    clear: both; } }

@media screen and (min-width: 600px) {
  .video-preview {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
    margin-bottom: 1.5rem; }
    .video-preview:last-child {
      margin-right: 0; }
    .video-preview:nth-child(3n) {
      margin-right: 0; }
    .video-preview:nth-child(3n+1) {
      clear: left; } }

#about {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
