@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 6;
$max-width: 90%;

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 800px;
$xlarge-screen: 1080px;

$small-screen-only: new-breakpoint(max-width $medium-screen - 1);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$medium-screen-down: new-breakpoint(max-width $large-screen - 1);
$medium-large-screen: new-breakpoint(min-width $medium-screen max-width $xlarge-screen - 1);
$large-screen-up: new-breakpoint(min-width $large-screen);
$xlarge-screen-up: new-breakpoint(min-width $xlarge-screen);
