{% extends "base.html" %}
{% load cloudinary %}

{% block title %}Press | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<figure class="hero-img">
    <img src="{% cloudinary_url 'hth_press_banner_2019.jpg' width='1280' crop='fill' %}" alt="HTH Press">
</figure>

<article class="container">
    <h1 class="container-header">Press</h1>

    <div class="content-gallery">
        {% for press in press_list %}
        {% include "music/_press.html" %}
        {% endfor %}
    </div>
</article>
{% endblock %}
