{% extends "base.html" %}

{% block title %}Music | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<article class="container">
    <h1 class="container-header">Music</h1>

    {% for release in release_list|slice:":1" %}
        {% include "music/_release_highlight.html" %}
    {% endfor %}

    <div class="content-gallery">
        {% for release in release_list|slice:"1:" %}
        <article class="content release release-preview">
            {% include "music/_release_cover.html" %}

            <header class="content-header">
                <h3 class="content-title">
                    <a href="{{ release.get_absolute_url }}">{{ release.title }}</a>
                </h3>
                <p class="content-subtitle">{{ release.date|date:"M Y" }}</p>
            </header>
        </article>
        {% endfor %}
    </div>

    <div class="container-footer">
        <p><a href="{% url 'song_list' %}">All songs and lyrics</a></p>

        <p>Digital-only live shows, mix-tapes, and singles available on <a href="https://hallelujahthehills.bandcamp.com/">Bandcamp</a>:</p>

        <ul>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/the-world-is-most-certainly-haunted-and-i-am-one-of-its-best-ghosts-2020-mix-tape">The World Is Most Certainly Haunted And I Am One Of Its Best Ghosts (2020 mix tape)</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/folk-music-is-insane-the-im-you-demos-2020">Folk Music Is Insane (The I'm You Demos, 2020)</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/bootleg-rock-n-roll-improved-my-chemistry-live-3-13-20">BOOTLEG: Rock N Roll Improved My Chemistry - LIVE 3/13/20</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/bootleg-the-oldest-recorded-song-in-music-history-live-1-21-20">BOOTLEG: The Oldest Recorded Song In Music History — LIVE 1/21/20</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/bootleg-live-improvised-set-february-3-2018">BOOTLEG: LIVE Improvised Set - February 3, 2018</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/bootleg-live-at-the-cake-shop-july-29th-2016">BOOTLEG: LIVE at the Cake Shop - July 29th, 2016</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/bootleg-collective-psychosis-begone-live-1-4-2008-the-middle-east">BOOTLEG: Collective Psychosis Begone LIVE 1/4/2008 @ The Middle East</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/album/you-can-escape-your-fate-but-its-not-considered-polite-2012">You Can Escape Your Fate (But It's Not Considered Polite) (2012 Ryan Walsh demos collection)</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/track/everybody-knows-theres-a-portal-in-the-backyard-2010-bonus-cd">Everybody Knows There's A Portal In The Backyard (2010 Ryan Walsh bonus audio-collage CD)</a></li>
            <li><a href="https://hallelujahthehills.bandcamp.com/track/audio-diary-tour-collage-2007">Audio Diary Tour Collage (2007)</a></li>
        </ul>

    </div>
</article>
{% endblock %}
