{% extends "base.html" %}

{% block title %}{{ release.title }} | {{ block.super }}{% endblock %}

{% block main_class %}object-detail {{ block.super }}{% endblock %}

{% block main_content %}
    <article class="release">

        {% if release.cover_url %}
        <section class="cover">
            <img src="{{ release.cover_url }}" alt="Cover art"/>
        </section>
        {% endif %}

        <header>
            <h2 class="title">{{ release.title }}</h2>
            <p class="date">{{ release.date|date }}</p>
        </header>

        {% if release.description %}
        <section class="description">
            {{ release.description|safe }}
        </section>
        {% endif %}

        {% if release.player_code %}
        <section class="player">
            {{ release.player_code|safe }}
        </section>
        {% endif %}

        {# TODO: Does this use two queries? #}

        {% if release.tracks %}
        <section class="tracks">
            <h3>Tracks</h3>
            <ol>
            {% for song in release.tracks %}
                <li><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></li>
            {% endfor %}
            </ol>
        </section>
        {% endif %}

        {% if release.videos %}
        <section class="videos">
            <h3>Videos</h3>
            {% for video in release.videos %}
            <article class="video">
                {% if video.preview_url %}
                <div class="preview thumbnail">
                    <a href="{{ video.get_absolute_url }}"><img src="{{ video.preview_url }}" alt="Video preview"/></a>
                </div>
                {% endif %}

                <p><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></p>
            </article>
            {% endfor %}
        </section>
        {% endif %}

        {% if release.credits %}
        <section class="credits">
            <h3>Credits</h3>
            {{ release.credits|safe }}
        </section>
        {% endif %}

    </article>
{% endblock %}
