{% extends "base.html" %}

{% block title %}Music | {{ block.super }}{% endblock %}

{% block main_content %}
    <h2>Music</h2>

    {% for release in release_list %}
    <article class="content release">
        {% if release.cover_url %}
        <div class="content-image">
            <a href="{{ release.get_absolute_url }}"><img src="{{ release.cover_url }}" alt="Cover art"/></a>
        </div>
        {% endif %}

        <header class="content-header">
            <h3 class="content-title">
                <a href="{{ release.get_absolute_url }}">{{ release.title }}</a>
            </h3>
            <p class="content-subtitle">
                <time datetime="{{ release.date|date:"c" }}">{{ release.date }}</time>
            </p>
        </header>

        {% if release.description %}
        <div class="content-body">
            {{ release.description|safe }}
        </div>
        {% endif %}
    </article>
    {% endfor %}
{% endblock %}
