{% extends "base.html" %}

{% block title %}{{ release.title }} | {{ block.super }}{% endblock %}

{% block main_content %}
    <article class="content release">
        {% if release.cover_url %}
        <div class="content-image">
            <img src="{{ release.cover_url }}" alt="Cover art"/>
        </div>
        {% endif %}

        <header class="content-header">
            <h2 class="content-title">{{ release.title }}</h2>
            <p class="content-subtitle">{{ release.date|date }}</p>
        </header>

        {% if release.description %}
        <div class="content-body">
            {{ release.description|safe }}
        </div>
        {% endif %}

        {% if release.player_code %}
        <div class="content-embed">
            {{ release.player_code|safe }}
        </div>
        {% endif %}

        {# TODO: Does this use two queries? #}

        {% if release.tracks %}
        <section class="content-section">
            <h3>Tracks</h3>
            <ol>
            {% for song in release.tracks %}
                <li>
                    <a href="{{ song.get_absolute_url }}">{{ song.title }}</a>
                </li>
            {% endfor %}
            </ol>
        </section>
        {% endif %}

        {% if release.videos %}
        <section class="content-section">
            <h3>Videos</h3>
            {% for video in release.videos %}
            <article class="content video">
                {% include "music/_video_preview.html" %}

                <p class="content-title">
                    <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                </p>
            </article>
            {% endfor %}
        </section>
        {% endif %}

        {% if release.credits %}
        <section class="content-section">
            <h3>Credits</h3>
            {{ release.credits|safe }}
        </section>
        {% endif %}
    </article>
{% endblock %}
