{% extends "base.html" %}

{% block title %}Lyrics | {{ release.title }} | {{ block.super }}{% endblock %}

{% block main_content %}
<article class="container content release release-detail release-lyrics">
    {% include "music/_release_header.html" %}

    {% if release.credits %}
    <div class="content-text">
        {{ release.credits|safe }}
    </div>
    {% endif %}

    <div class="content-columns">
        {% for song in release.tracks %}
        {% if song.lyrics or song.credits %}
        <article class="content lyrics">
            <h3 class="content-header content-title">{{ song.title }}</h3>

            {% if song.credits %}
            <div class="content-text">
                {{ song.credits|safe }}
            </div>
            {% endif %}

            {% if song.lyrics %}
            <div class="content-text">
                {{ song.lyrics|safe }}
            </div>
            {% endif %}
        </article>
        {% endif %}
        {% endfor %}
    </div>
</article>
{% endblock %}
