{% extends "base.html" %}

{% block title %}Music | {{ block.super }}{% endblock %}

{% block main_content %}
    <h2>Music</h2>

    {% for release in release_list %}
    <article class="content release">
        {% include "music/_release_cover.html" %}

        <header class="content-header">
            <h3 class="content-title">
                <a href="{{ release.get_absolute_url }}">{{ release.title }}</a>
            </h3>
            <p class="content-subtitle">{{ release.date|date }}</p>
        </header>

        {{ release.description|safe }}
    </article>
    {% endfor %}
{% endblock %}
