{% extends "base.html" %}

{% block title %}Songs | {{ block.super }}{% endblock %}

{% block main_content %}
<article>
    <h1>Songs</h1>

    {% for song in song_list %}
    <article class="content song">
        <header class="content-header">
            <h3 class="content-title">
                {% if song.has_details %}
                <a href="{{ song.get_absolute_url }}">{{ song.title }}</a>
                {% else %}
                {{ song.title }}
                {% endif %}
            </h3>
        </header>
    </article>
    {% endfor %}
</article>
{% endblock %}
