{% extends "base.html" %}

{% block title %}Songs | {{ block.super }}{% endblock %}

{% block main_content %}
<article class="container">
    <h1 class="container-header">Songs</h1>

    {% for song in song_list %}
    <article class="content song">
        <p class="content-title">
            {% if song.has_details %}
            <a href="{{ song.get_absolute_url }}">{{ song.title }}</a>
            {% else %}
            {{ song.title }}
            {% endif %}
        </p>
    </article>
    {% endfor %}
</article>
{% endblock %}
