{% extends "base.html" %}

{% block title %}{{ song.title }} | {{ block.super }}{% endblock %}

{% block main_content %}
<article class="container content song">
    <header class="container-header content-header">
        <h1 class="content-title">{{ song.title }}</h1>

        {% if song.release %}
        <p class="content-subtitle">
            from <a href="{{ song.release.get_absolute_url }}">{{ song.release.title }}</a>
        </p>
        {% endif %}
    </header>

    <div class="embed">
        {{ song.player_code|safe }}
    </div>

    <div class="content-text">
        {{ song.description|safe }}
    </div>

    {% if song.credits %}
    <section class="content-section content-text">
        <h2>Credits</h2>
        <div class="content-text">
            {{ song.credits|safe }}
        </div>
    </section>
    {% endif %}

    {% if song.lyrics %}
    <section class="content-section content-text">
        <h2>Lyrics</h2>
        <div class="content-text">
            {{ song.lyrics|safe }}
        </div>
    </section>
    {% endif %}
</article>
{% endblock %}
