{% extends "base.html" %}

{% block title %}{{ song.title }} | {{ block.super }}{% endblock %}

{% block main_class %}object-detail {{ block.super }}{% endblock %}

{% block main_content %}
    <article class="song">

        <header>
            <h2 class="title">{{ song.title }}</h2>
            {% if song.release %}
            <p>from <a href="{{ song.release.get_absolute_url }}">{{ song.release.title }}</a></p>
            {% endif %}
        </header>

        {% if song.player_code %}
        <section class="player">
            {{ song.player_code|safe }}
        </section>
        {% endif %}

        {% if song.description %}
        <section class="description">
            {{ song.description|safe }}
        </section>
        {% endif %}

        {% if song.credits %}
        <section class="credits">
            <h3>Credits</h3>
            {{ song.credits|safe }}
        </section>
        {% endif %}

        {% if song.lyrics %}
        <section class="lyrics">
            <h3>Lyrics</h3>
            {{ song.lyrics|safe }}
        </section>
        {% endif %}

    </article>
{% endblock %}
