{% extends "base.html" %}

{% block title %}Video | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<article class="container">
    <h1 class="container-header">Video</h1>

    {% include "music/_video_highlight.html" with video=video_list|first %}

    <div class="content-gallery">
        {% for video in video_list|slice:"1:" %}
        <article class="content video video-preview">
            {% include "music/_video_preview.html" %}
            {% include "music/_video_header.html" %}
        </article>
        {% endfor %}
    </div>
</article>
{% endblock %}
