{% extends "base.html" %}

{% block title %}{{ video.title }} | {{ block.super }}{% endblock %}

{% block main_content %}
    <article class="video">
        {% include "music/_video_embed.html" %}

        <header>
            <h2 class="title">{{ video.title }}</h2>
            <p class="date">{{ video.publish_on|date }}</p>
            {% if video.release %}
            <p>from <a href="{{ video.release.get_absolute_url }}">{{ video.release.title }}</a></p>
            {% endif %}

            {% if video.source_url %}
            <p><a href="{{ video.source_url }}">Direct link</a></p>
            {% endif %}
        </header>

        {% if video.description %}
        <section class="description">
            {{ video.description|safe }}
        </section>
        {% endif %}

        {% if video.credits %}
        <section class="credits">
            <h3>Credits</h3>
            {{ video.credits|safe }}
        </section>
        {% endif %}
    </article>
{% endblock %}
