{% extends "base.html" %}

{% block title %}Videos | {{ block.super }}{% endblock %}

{% block main_content %}
    <h2>Videos</h2>

    {% for video in video_list %}
    <article class="video">
        {% include "music/_video_preview.html" %}

        <header>
            <h3 class="title">
                <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
            </h3>
            <p class="date">{{ video.publish_on|date }}</p>
        </header>
    </article>
    {% endfor %}
{% endblock %}
