{% extends "base.html" %}

{% block title %}Videos | {{ block.super }}{% endblock %}

{% block main_content %}
    <h2>Videos</h2>

    {% for video in video_list %}
    <article class="content video">
        {% include "music/_video_preview.html" %}

        <header class="content-header">
            <h3 class="content-title">
                <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
            </h3>
            <p class="content-subtitle">{{ video.publish_on|date }}</p>
        </header>
    </article>
    {% endfor %}
{% endblock %}
