{% extends "base.html" %}

{% block title %}{{ video.title }} | {{ block.super }}{% endblock %}

{% block main_content %}
<article class="container content video">
    {% include "music/_video_embed.html" %}

    <header class="container-header content-header">
        <h1 class="content-title">{{ video.title }}</h1>
        <p class="content-subtitle">{{ video.publish_on|date }}</p>

        {% if video.release %}
        <p class="content-subtitle">
            from <a href="{{ video.release.get_absolute_url }}">{{ video.release.title }}</a>
        </p>
        {% endif %}
    </header>

    <div class="content-text">
        {{ video.description|safe }}
    </div>

    {% if video.credits %}
    <section class="content-section">
        <h2>Credits</h2>
        <div class="content-text">
            {{ video.credits|safe }}
        </div>
    </section>
    {% endif %}
</article>
{% endblock %}
