{% extends "base.html" %}

{% block title %}{{ release.title }} | {{ block.super }}{% endblock %}

{% block content %}
<main class="detail">
    <article class="release">

        <header>
            <h2>{{ release.title }}</h2>
            <p>Released: {{ release.date|date }}</p>
        </header>

        {% if release.cover_url %}
        <section class="cover">
            <img src="{{ release.cover_url }}" alt="Cover art"/>
        </section>
        {% endif %}

        {% if release.description %}
        <section class="description">
            {{ release.description|safe }}
        </section>
        {% endif %}

        <section class="tracks">
            <h3>Tracks</h3>
            <ol>
            {% for song in release.tracks %}
                <li><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></li>
            {% endfor %}
            </ol>
        </section>

        <section class="videos">
            <h3>Videos</h3>
            <ul>
            {% for video in release.videos %}
                <li><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></li>
            {% endfor %}
            </ul>
        </section>

        {% if release.credits %}
        <section class="credits">
            <h3>Credits</h3>
            {{ release.credits|safe }}
        </section>
        {% endif %}

    </article>
</main>
{% endblock %}

