{% extends "base.html" %}

{% block title %}Music | {{ block.super }}{% endblock %}

{% block content %}
<main class="list">
    <h2>Music</h2>

{% for release in release_list %}
    <article class="release">

        <header>
            <h3><a href="{{ release.get_absolute_url }}">{{ release.title }}</a></h3>
            <p>{{ release.date|date }}</p>
        </header>

        <section>
            {{ release.description|safe }}
        </section>

    </article>
{% endfor %}

</main>
{% endblock %}

