{% extends "base.html" %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block content %}
<main class="detail">
    <article class="release">
        <header>
            <h2>{{ object.title }}</h2>
            <p>{{ object.date|date }}</p>
        </header>
        <section>
            {% if object.cover_url %}
            <figure><img src="{{ object.cover_url }}" /></figure>
            {% endif %}
            {{ object.description|safe }}
        </section>
        <section>
            {{ object.credits|safe }}
        </section>
        <section>
            <h3>Tracks</h3>
            <ul>
            {% for song in object.tracks %}
                <li><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></li>
            {% endfor %}
            </ul>
        </section>
        <section>
            <h3>Videos</h3>
            <ul>
            {% for video in object.videos %}
                <li><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></li>
            {% endfor %}
            </ul>
        </section>
    </article>
</main>
{% endblock %}

