{% extends "base.html" %}

{% block title %}Videos | {{ block.super }}{% endblock %}

{% block content %}
<main class="list">
    <h2>Videos</h2>

{% for video in video_list %}
    <article class="video">

        <header>
            <h3><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></h3>
            <p>{{ video.publish_on|date }}</p>
        </header>

        <section>
            {% if video.preview_url %}
            <div class="preview thumbnail">
                <img src="{{ video.preview_url }}" alt="Video preview"/>
            </div>
            {% endif %}
            {{ video.description|safe }}
        </section>

    </article>
{% endfor %}

</main>
{% endblock %}

