{% extends "base.html" %}

{% block title %}{{ video.title }} | {{ block.super }}{% endblock %}

{% block main_class %}object-detail {{ block.super }}{% endblock %}

{% block main_content %}
    <article class="video">

        <header>
            <h2><a href="{{ video.source_url }}">{{ video.title }}</a></h2>
            <p>{{ video.publish_on|date }}</p>
            {% if video.release %}
            <p>from <a href="{{ video.release.get_absolute_url }}">{{ video.release.title }}</a></p>
            {% endif %}
        </header>

        <section class="embed">
            {{ video.embed_code|safe }}
        </section>

        {% if video.description %}
        <section class="description">
            {{ video.description|safe }}
        </section>
        {% endif %}

        {% if video.credits %}
        <section class="credits">
            <h3>Credits</h3>
            {{ video.credits|safe }}
        </section>
        {% endif %}

    </article>
{% endblock %}
