// $visual-grid: true !global;

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "refills/navigation";
@import "refills/footer";
@import "refills/embed-responsive";
@import "refills/hero";


.container {
    @include outer-container;

    main & {
        margin-top: $large-spacing;
        margin-bottom: $large-spacing;
    }

    &-header {
        margin-bottom: $base-spacing;

        .navigation-page & {
            display: none;
        }
    }

    @include media($xlarge-screen) {
        @include outer-container($xlarge-max-width);

        // Hide visual-grid, because it won't scale with the xlarge-max-width
        @at-root body:before {
            display: none;
        }
    }
}

.content {
    &-feature {
        margin-bottom: $base-spacing;
    }

    &-subtitle {
        margin-top: -$base-spacing;
    }

    &-section {
        margin: $large-spacing 0;
    }

    &-header,
    &-text {
        max-width: $base-line-length;
    }

    &-gallery {
        @include clearfix;
        margin-bottom: -$large-spacing;

        .content + & {
            border-top: $base-border;
            padding-top: $large-spacing;
        }

        @include media($large-screen) {
            .lyrics, .press, .post {
                @include span-columns(3);
                @include omega(2n);
            }
        }
    }
}

.gig {
    @include media($small-screen-only) {
        @include clearfix;
        margin-bottom: $base-spacing;

        &:last-child {
            margin-bottom: -$base-spacing;
        }

        &-date {
            @include span-columns(2);
        }

        &-venue {
            @include span-columns(4);
            @include omega;
        }
    }

    @include media($medium-screen) {
        @at-root &-list {
            display: table;
            width: 100%;

            .content-section {
                display: table-row-group;

            }

            h2 {
                white-space: nowrap;
            }
        }

        display: table-row;

        > [class^="gig"] {
            display: table-cell;
            padding: 0 $small-spacing $base-spacing 0;
        }

        &-date {
            width: 15%;
        }

        &-venue {
            width: 25%;
        }

        &-description {
            width: 40%;
        }

        &-details {
            width: 20%;
            padding-right: 0;
        }
    }
}

.release-preview {
    @include media($medium-large-screen) {
        @include span-columns(3);
        @include omega(2n);
        margin-bottom: $base-spacing;
    }

    @include media($xlarge-screen) {
        @include span-columns(2);
        @include omega(3n);
        margin-bottom: $base-spacing;
    }
}

.release.content-highlight {
    @include media($medium-screen) {
        @include clearfix;

        .release-cover {
            @include span-columns(3);
        }

        .release-info {
            @include span-columns(3);
            @include omega;
        }
    }
}

.release-detail {
    @include media($medium-screen) {
        .release-cover {
            @include direction-context(right-to-left) {
                @include span-columns(3);
            }
        }

        .release-videos, .release-press {
            clear: both;
        }
    }
}

.video-preview {
    @include media($medium-screen) {
        @include span-columns(2);
        @include omega(3n);
        margin-bottom: $base-spacing;
    }
}

#about {
    text-align: center;
}
