// $visual-grid: true !global;

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "refills/navigation";
@import "refills/footer";
@import "refills/embed-responsive";
@import "refills/hero";


.container {
    @include outer-container;

    main & {
        margin-top: $large-spacing;
        margin-bottom: $large-spacing;
    }

    &-header {
        margin-bottom: $base-spacing;

        .navigation-page & {
            display: none;
        }
    }

    @include media($xlarge-screen) {
        @include outer-container($xlarge-max-width);

        // Hide visual-grid, because it won't scale with the xlarge-max-width
        @at-root body:before {
            display: none;
        }
    }
}

.content {
    &-feature {
        margin-bottom: $base-spacing;
    }

    &-subtitle {
        margin-top: -$base-spacing;
    }

    &-section {
        margin: $large-spacing 0;
    }

    &-gallery {
        @include clearfix;
        margin-bottom: -$large-spacing;

        .content + & {
            border-top: $base-border;
            padding-top: $large-spacing;
        }

        @include media($large-screen) {
            .lyrics, .press, .post {
                @include span-columns(3);
                @include omega(2n);
            }
        }
    }
}

.gig {
    @include clearfix;
    margin-bottom: $base-spacing;

    &:last-child {
        margin-bottom: -$base-spacing;
    }

    @include media($small-screen-only) {
        &-date {
            @include span-columns(2);
        }

        &-venue {
            @include span-columns(4);
            @include omega;
        }
    }

    @include media($medium-screen) {
        &-date {
            @include span-columns(1);
        }

        &-venue {
            @include span-columns(2);
        }

        &-info {
            @include span-columns(3);
            @include omega;
        }
    }
}

.release-preview {
    @include media($medium-large-screen) {
        @include span-columns(3);
        @include omega(2n);
        margin-bottom: $base-spacing;
    }

    @include media($xlarge-screen) {
        @include span-columns(2);
        @include omega(3n);
        margin-bottom: $base-spacing;
    }
}

.release.content-highlight {
    @include media($medium-screen) {
        @include clearfix;

        .release-cover {
            @include span-columns(3);
        }

        .release-info {
            @include span-columns(3);
            @include omega;
        }
    }
}

.release-detail {
    @include media($medium-screen) {
        .release-cover {
            @include direction-context(right-to-left) {
                @include span-columns(3);
            }
        }

        .release-videos {
            clear: both;
        }
    }
}

.video-preview {
    @include media($medium-screen) {
        @include span-columns(2);
        @include omega(3n);
        margin-bottom: $base-spacing;
    }
}

#about {
    text-align: center;
}
