.footer {
    border-top: $base-border;
    padding: $base-spacing 0 0;
    position: relative;

    &-links {
        margin-bottom: $large-spacing;
    }

    &-links li {
        display: inline;
        list-style: none;
        padding-right: $small-spacing;

        &:last-child {
            padding-right: 0;
        }
    }

    .icon {
        @extend .size-large;
        padding-right: $base-spacing;
    }

    .copyright {
        @extend .size-small;
        clear: both;
    }
}

@include media($medium-screen-only) {
    .footer-links {
        @include span-columns(3);
        @include omega(2n);
    }
}

@include media($large-screen) {
    .footer-links {
        @include span-columns(2);
        @include omega(3n);
        margin-bottom: $base-spacing;
    }

    .footer-top-link {
        text-align: right;
    }
}
