$hero-max-width: 1280px;

.hero {
    align-items: center;
    background-position: center;;
    background-repeat: no-repeat;
    background-size: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: $hero-max-width;
    padding: $base-spacing 0;
    text-decoration: none;

    /*
    @include media($large-screen) {
        background-size: contain;
        background-position: center;
    }
    */

    &-content {
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        margin: 0 auto;
        width: $max-width;
        text-align: center;

        @include media($small-screen-only) {
            font-size: modular-scale(-1);
        }

        @include media($large-screen) {
            text-align: right;
        }

        @include media($xlarge-screen) {
            width: $xlarge-max-width;
        }
    }
}

.hero-img {
    margin: 0 auto;
    max-width: $hero-max-width;

    img {
        display: block;
        margin: 0 auto;
    }
}
