header.navigation {
    $navigation-color: $action-color;
    $navigation-color-hover: $action-color-hover;
    $navigation-color-active: $action-color;
    $navigation-background-color: transparent;
    $horizontal-bar-mode: $large-screen;

    background-color: $navigation-background-color;
    padding: $small-spacing 0;
    width: 100%;
    z-index: 999;

    .navigation-wrapper {
        @include clearfix;
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        text-transform: uppercase;
        position: relative;
        z-index: 9999;
    }

    .logo {
        @extend .size-xlarge;
        float: left;
        margin-bottom: 0;
        max-width: 7em;

        a {
            color: $heading-color;
            text-decoration: none;

            &:focus,
            &:hover {
                color: $navigation-color-hover;
            }
        }
    }

    .tagline {
        @extend .size-small;
        height: $base-spacing;
        float: right;
        font-family: $base-font-family;
        text-transform: none;
        font-weight: normal;

        &-text {
            display: none;
            @include media($medium-screen) {
                display: block;
            }
        }
    }

    // Mobile view

    .navigation-menu-button {
        display: block;
        float: right;
        margin: 0;

        @include media($horizontal-bar-mode) {
            display: none;
        }

        a {
            color: $navigation-color;

            &:focus,
            &:hover {
                color: $navigation-color-hover;
            }
        }
    }

    // Nav menu

    nav {
        clear: right;
        float: none;
        z-index: 9999999;

        @include media($horizontal-bar-mode) {
            float: right;
        }
    }

    ul.navigation-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 9999;

        &.show {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    // The nav items

    ul li.navigation-link {
        background: $navigation-background-color;
        display: block;
        padding-top: $base-spacing;
        overflow: hidden;
        text-align: right;
        width: 100%;
        z-index: 9999;

        @include media($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            margin: 0;
            padding-left: $base-spacing;
            width: auto;
        }

        a {
            color: $navigation-color;
            display: inline-block;

            &:focus,
            &:hover {
                color: $navigation-color-hover;
            }
        }

        &.is-active a {
            text-decoration: none;
        }
    }
}
