header.navigation {
    $navigation-color: $action-color;
    $navigation-color-hover: $action-color-hover;
    $navigation-color-active: $action-color;
    $navigation-background-color: transparent;

    $logo-font-size: modular-scale(2);
    $tagline-font-size: modular-scale(-1);
    $horizontal-bar-mode: $large-screen;

    background-color: $navigation-background-color;
    margin-bottom: $large-spacing;
    padding: $small-spacing 0;
    width: 100%;
    z-index: 999;

    .navigation-wrapper {
        @include clearfix;
        font-family: $heading-font-family;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        z-index: 9999;
    }

    .logo {
        float: left;
        font-size: $logo-font-size;
        line-height: 1;
        margin-bottom: 0;
        max-width: 8em;

        a {
            color: $heading-color;
            text-decoration: none;

            &:focus,
            &:hover {
                color: $navigation-color-hover;
            }
        }
    }

    .tagline {
        display: none;
        float: right;
        font-family: $base-font-family;
        font-size: $tagline-font-size;
        text-transform: none;
        font-weight: normal;
        line-height: strip-units($logo-font-size / $tagline-font-size);

        @include media($horizontal-bar-mode) {
            display: block;
        }
    }

    // Mobile view

    .navigation-menu-button {
        display: block;
        float: right;
        margin: $logo-font-size 0 0;

        @include media($horizontal-bar-mode) {
            display: none;
        }

        a {
            color: $navigation-color;

            &:focus,
            &:hover {
                color: $navigation-color-hover;
            }
        }
    }

    // Nav menu

    nav {
        float: none;
        z-index: 9999999;

        @include media($horizontal-bar-mode) {
            float: right;
        }
    }

    ul.navigation-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 9999;

        &.show {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    // The nav items

    ul li.navigation-link {
        background: $navigation-background-color;
        display: block;
        line-height: strip-units($logo-font-size);
        overflow: hidden;
        text-align: right;
        width: 100%;
        z-index: 9999;

        @include media($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            padding-left: $base-spacing;
            width: auto;
        }

        a {
            color: $navigation-color;
            display: inline-block;

            &:focus,
            &:hover {
                color: $navigation-color-hover;
            }
        }

        &.is-active a {
            text-decoration: none;
        }
    }
}
