# Read by django-environ. Copy to .env, and set the correct values.

# http://www.miniwebtool.com/django-secret-key-generator/
# http://randomkeygen.com/
SECRET_KEY=''

# https://cloudinary.com/console
CLOUDINARY_URL='cloudinary://API_KEY:API_SECRET@CLOUD_NAME'
