# Read by django-environ. Copy to .env, and set the correct values.

# manage.py generate_secret_key
SECRET_KEY=''

# https://cloudinary.com/console
CLOUDINARY_URL='cloudinary://API_KEY:API_SECRET@CLOUD_NAME'
