{% extends "base.html" %}
{% load cloudinary %}

{% block title %}About The Band | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<article id="about">
    <figure class="hero-img">
        <img src="{% cloudinary_url "hth_toast.jpg" width="1280" height="640" crop="fill" gravity="custom" effect="sharpen" %}" alt="HTH press photo" title="Photographer: Courtney Brooke Hall">
        <figcaption>Brian Rutledge, Nicholas Ward, Ryan Walsh, Joseph Marrett, Ryan Connelly</figcaption>
    </figure>

    <div class="container">
        <h1 class="container-header">About The Band</h1>

        <p>Hallelujah the Hills is an American indie rock band from Boston, Massachusetts, formed in 2005 by Ryan Walsh.
            <br><a href="https://en.wikipedia.org/wiki/Hallelujah_the_Hills">Read more on Wikipedia</a>
        </p>
    </div>
</article>
{% endblock %}
