{% extends "base.html" %}
{% load cloudinary %}

{% block title %}About The Band | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<article id="about">
    <figure class="hero-img">
        <img src="{% cloudinary_url 'hth_201910_subway.jpg' width='1280' %}" alt="HTH press photo">
        <figcaption>
            <div class="img-credit">Photo courtesy of Adam Parshall</div>
            David Michael Curry, Ryan Connelly, Brian Rutledge, Joseph Marrett, Ryan H. Walsh, Nicholas Ward
        </figcaption>
    </figure>

    <div class="container">
        <h1 class="container-header">About The Band</h1>

        <div class="content-text">
            <p>
                <strong>Hallelujah The Hills</strong> have been releasing critically acclaimed albums and touring the U.S. since 2007.

                Described by <strong>Spin</strong> as “criminally underappreciated” and lauded by <strong>Pitchfork</strong> for their “fist pumping anthems,” they’ve been declared “Boston legends” in their hometown and as having a “cult following” by Stereogum.

                The band released their first two albums on Misra Records, assisted <strong>Titus Andronicus</strong> in recording their breakout album <strong><cite>The Monitor</cite></strong>, and are one of the only bands to have ever toured with <strong>The Silver Jews</strong>.

                Their sound was creatively explained as “the kind of punk rock you’d expect on stage at the roadhouse from ‘Twin Peaks’” in The Boston Herald.

                Others go further, with <strong>Aquarium Drunkard</strong> noting “few do it with the style and imagination of Hallelujah the Hills” and Captain’s Dead boldly publishing that they “without a doubt they are one of the greatest bands currently making music.”
            </p>

            <p>
                Band founder and songwriter Ryan H. Walsh’s debut book, <strong><cite>Astral Weeks: A Secret History of 1968</cite></strong> (Penguin Press), received rave reviews from <strong>The New Yorker</strong>, <strong>The Guardian</strong>, <strong>Rolling Stone</strong>, and was a <strong>New York Times</strong> end-of-year Critics’ Pick in 2018.

                <strong><cite>I’m You</cite></strong>, the seventh full-length album from Hallelujah The Hills, was written in the months after the book’s release (even incorporating <cite>Astral Weeks</cite>’ flute player John Payne into the band for the achingly dreamy song “It Still Floors Me”).

                Kicking off the record with these mirror-plated lyrics, “Hello I am the person singing this song / and if you think that might be you, well I guess you might not be wrong,” <cite>I’m You</cite> attempts to erase the border between performer and listener, singer and audience, band and fans.

                The album digs so deep into the concept of self-identity that, by the time the final song ends, you might just feel like me.

                If there was a Venn diagram featuring these two overlapping circles&mdash;wildly triumphant and overwhelming melancholy&mdash;the overlap zone would be where <cite>I’m You</cite> lives. Now entering their 14th year as a band, with a lineup and live show as exciting as ever, Hallelujah The Hills return with their most unified statement yet.
            </p>
            <hr>
            <p>
                <strong>This band is named after a 1963 film by Adolfas Mekas</strong>. Read on to learn more about <cite>Hallelujah The Hills</cite>, Adolfas Mekas, and his brother Jonas.
            </p>
            <blockquote>
                <p>
                    In 1944, [Jonas and] Adolfas [Mekas] were taken by the Nazis to a forced labor camp in Elmshorn, Germany. At the end of 1949 the UN Refugee Organization brought both brothers to New York City, where they settled down in Williamsburg, Brooklyn. Two months after his arrival in New York he borrowed money to buy his first Bolex camera and began to record brief moments of his life. He soon got deeply involved in the American Avant-Garde film movement. In 1954, together with his brother, he started Film Culture magazine, which soon became the most important film publication in the US.
                    <br>—<cite>JonasMekas.com</cite>
                </p>
            </blockquote>
            <p>
                In the early sixties, the Mekas Brothers travelled to South Londonderry, Vermont to shoot a feature whose script was originally titled <cite>Hallelujah The Woods</cite>. Jonas Mekas recalls that their typist couldn’t read the smudged title and put it down as <cite>Hallelujah The Hills</cite>. Because their friend and financial backer was named <a href="https://www.jeromefdn.org/sites/default/files/A%20Poet%20Is%20Dead.pdf">Jerome Hill</a>, the typo became gospel.
            </p>
            <blockquote>
                <p>
                    I was shown Mekas’ <cite>Hallelujah The Hills</cite> on the first day of a class entitled “Films of the 60’s” at Boston University in 1999. I had never seen a movie like it; it seemed like you could watch it very closely or have it on in the background of a party. That struck me as a rare but interesting quality for a piece of art. I related to the two friends retreating to the woods to engage in total nonsense as a way of trying to get over a heartbreak, too. It was funny, it was surreal, it was emotional, and it was unique. All of those things were qualities that I hoped the new band I was about to start would strive for, plus, it was filmed in New England! This is all to say how, in 2005, we chose Hallelujah The Hills as the name of this band.
                    <br>—<cite>Ryan Walsh</cite>
                </p>
            </blockquote>
            <p>Reviews of the film:</p>
            <blockquote>
                <p>
                    All hail Adolfas Mekas, an impecunious director who in his first feature film has produced a far-out and very funny farce, the first cubistic comedy of the new world cinema. The weirdest, wooziest, wackiest comedy of the year. A gloriously fresh experience in the cinema.
                    <br>—<cite>Time Magazine</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    The wildest and wittiest comedy of the season — an outrageous lark.
                    <br>—<cite>The New York Times</cite>
                </p>
            </blockquote>
            <p><a href="http://www.hallelujaheditions.com/2005/05/hallelujah_the.php">Get the film</a></p>
            <p><a href="http://www.hallelujaheditions.com/books/">Get Adolfas Mekas’ publications</a></p>
            <p><a href="http://jonasmekas.com/">Learn more about Jonas Mekas</a></p>
            <p><img src="{% cloudinary_url 'mekas_walsh.jpg' width='480' height='480' %}" alt="Jonas Mekas and Ryan Walsh"></p>
            <blockquote>
                <p>
                    In October of 2015, I went to Jonas Mekas’ house to interview him for my book, <cite>Astral Weeks: A Secret History of 1968</cite>. Halfway through the interview, I revealed to Jonas the name of our band, showing him some CD’s. He was so delighted and shared his memories of making the film with his brother in Vermont.
                    <br>—<cite>Ryan Walsh</cite>
                </p>
            </blockquote>
        </div>
    </div>
</article>
{% endblock %}
