{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Hallelujah The Hills{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body id="{% block body_id %}hth{% endblock %}">
    <header id="top" class="container navigation" role="banner">
        <div class="navigation-wrapper">
            <a href="/" class="logo">Hallelujah The Hills</a>
            <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
            <nav role="navigation">
                <ul id="js-navigation-menu" class="navigation-menu show">
                    <li class="nav-link"><a href="{% url 'release_list' %}">Music</a></li>
                    <li class="nav-link"><a href="{% url 'video_list' %}">Videos</a></li>
                    <li class="nav-link"><a href="{% url 'gig_list' %}">Shows</a></li>
                    <li class="nav-link"><a href="{% url 'post_list' %}">News</a></li>
                    <li class="nav-link"><a href="#more">More</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Not using <main> because Validator SAC throws an error -->
    <div class="container {% block main_class %}{% endblock %}" role="main">
    {% block main_content %}{% endblock %}
    </div>

    <footer id="more" class="container footer" role="contentinfo">
        <nav class="footer-links">
            <ul>
                <li><a href="javascript:void(0)">About</a></li>
                <li><a href="{% url 'press_list' %}">Press</a></li>
                <li><a href="{% url 'song_list' %}">Songs</a></li>
            </ul>
        </nav>

        <div class="footer-links">
            <h3>Elsewhere</h3>
            <ul>
                <li><a href="javascript:void(0)">Bandcamp</a></li>
                <li><a href="javascript:void(0)">Facebook</a></li>
                <li><a href="javascript:void(0)">Twitter</a></li>
            </ul>
        </div>

        <div class="footer-links">
            <h3>Contact</h3>
            <p>Ryan H. Walsh
                <br><a href="">ryan@hallelujahthehills.com</a>
            </p>
        </div>

        <p class="footer-top-link"><a href="#top">Back to top</a></p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var menuToggle = $('#js-mobile-menu').unbind();
            $('#js-navigation-menu').removeClass("show");

            menuToggle.on('click', function(e) {
                e.preventDefault();
                $('#js-navigation-menu').slideToggle(function(){
                    if($('#js-navigation-menu').is(':hidden')) {
                        $('#js-navigation-menu').removeAttr('style');
                    }
                });
            });

            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            $('a[href^="#"]:not([href="#"])').click(function(e) {
                var $target = $(this.hash);
                if ($target.length) {
                    e.preventDefault();

                    $('html, body').animate({
                        scrollTop: $target.offset().top
                    });

                    return false;
                }
            });
        });
    </script>
</body>
</html>
