<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Hallelujah The Hills{% endblock %}</title>
</head>
<body>
    <nav>
        <h1><a href="/">Hallelujah The Hills</a></h1>
        <ul>
            <li><a href="{% url 'release_list' %}">Music</a></li>
            <li><a href="{% url 'video_list' %}">Videos</a></li>
            <li><a href="{% url 'gig_list' %}">Shows</a></li>
            <li><a href="{% url 'post_list' %}">News</a></li>
        </ul>
    </nav>

    <main class="{% block main_class %}{% endblock %}">
    {% block main %}{% endblock %}
    </main>
</body>
</html>
