{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Hallelujah The Hills{% endblock %}</title>

    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/socicon.css" %}">

    {% block head_css %}{% endblock %}
</head>

<body id="{% block body_id %}hth{% endblock %}">
    <header id="top" class="container navigation" role="banner">
        <div class="navigation-wrapper">
            <h1 class="logo"><a href="{% url "home_page" %}">Hallelujah The Hills</a></h1>
            <div class="tagline">
                American rock band from Boston, MA. We're just like you.
                {# Indie rock from Boston, MA. Super-charged American favorites since 2005. #}
            </div>
            <nav role="navigation">
                <h2 id="js-mobile-menu" class="navigation-menu-button"><a href="javascript:void(0)">Nav</a></h2>
                <ul id="js-navigation-menu" class="navigation-menu">
                    {% include "_nav_link.html" with nav_view="release_list" nav_title="Music" %}
                    {% include "_nav_link.html" with nav_view="video_list" nav_title="Video" %}
                    {% include "_nav_link.html" with nav_view="gig_list" nav_title="Shows" %}
                    {% include "_nav_link.html" with nav_view="post_list" nav_title="News" %}
                    {% include "_nav_link.html" with nav_view="press_list" nav_title="Press" %}
                    {% include "_nav_link.html" with nav_view="about_page" nav_title="About" %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="{% block main_class %}{% endblock %}">
    {% block main_content %}{% endblock %}
    </main>

    <footer id="more" class="container footer" role="contentinfo">
        <section>
            <div class="footer-links">
                <h2>Elsewhere</h2>
                <ul>
                    {# TODO: Include and padding #}
                    <li><a class="icon" href="http://hallelujahthehills.bandcamp.com/" title="Bandcamp"><i class="socicon-bandcamp"></i></a></li>
                    <li><a class="icon" href="https://soundcloud.com/hallelujahthehills" title="SoundCloud"><i class="socicon-soundcloud"></i></a></li>
                    <li><a class="icon" href="https://play.spotify.com/artist/1Hz1wld4kWf47t3kIGKoDi" title="Spotify"><i class="socicon-spotify"></i></a></li>
                    <li><a class="icon" href="https://itunes.apple.com/us/artist/hallelujah-the-hills/id255451180" title="iTunes"><i class="socicon-apple"></i></a></li>
                </ul>
                <ul>
                    <li><a class="icon" href="http://www.facebook.com/hallelujahthehills" title="Facebook"><i class="socicon-facebook"></i></a></li>
                    <li><a class="icon" href="http://www.twitter.com/JahHills" title="Twitter"><i class="socicon-twitter"></i></a></li>
                    <li><a class="icon" href="https://www.instagram.com/hallelujahthehills/" title="Instagram"><i class="socicon-instagram"></i></a></li>
                    <li><a class="icon" href="https://github.com/bhrutledge/jahhills.com" title="GitHub"><i class="socicon-github"></i></a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h2>Contact</h2>
                <p>Ryan H. Walsh
                    <br><a href="mailto:ryan@hallelujahthehills.com?Subject=HTH%20Website%20Contact">ryan@hallelujahthehills.com</a>
                </p>
            </div>

            <div class="footer-links">
                <h2>Mailing List</h2>
                <form action="http://hallelujahthehills.us7.list-manage.com/subscribe/post?u=dfc947e32e98066f30df4013f&amp;id=a5f8de7ae0" method="post" id="header-list-form">
                    <div style="display: none;">
                        <label>leave this field blank to prove your humanity
                            <input type="text" name="email" value="">
                        </label>
                    </div>
                    <input type="text" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your email">
                    <input type="submit" value="Subscribe" name="subscribe" class="button">
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_dfc947e32e98066f30df4013f_a5f8de7ae0" value=""></div>
                </form>
            </div>
        </section>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var menuToggle = $('#js-mobile-menu').unbind();
            $('#js-navigation-menu').removeClass("show");

            menuToggle.on('click', function(e) {
                e.preventDefault();
                $('#js-navigation-menu').slideToggle(function(){
                    if($('#js-navigation-menu').is(':hidden')) {
                        $('#js-navigation-menu').removeAttr('style');
                    }
                });
            });

            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            $('a[href^="#"]:not([href="#"])').click(function(e) {
                var $target = $(this.hash);
                if ($target.length) {
                    e.preventDefault();

                    $('html, body').animate({
                        scrollTop: $target.offset().top
                    });

                    return false;
                }
            });
        });
    </script>
</body>
</html>
