{% extends "base.html" %}

{% block main_content %}
    {# TODO: Use included templates #}

    <section id="music">
        <h2>Music</h2>

        <article class="content release">
            {% if release.cover_url %}
            <div class="content-image">
                <a href="{{ release.get_absolute_url }}"><img src="{{ release.cover_url }}" alt="Cover art"/></a>
            </div>
            {% endif %}

            <header class="content-header">
                <h3 class="content-title">
                    <a href="{{ release.get_absolute_url }}">{{ release.title }}</a>
                </h3>
                <p class="content-subtitle">{{ release.date|date }}</p>
            </header>

            {% if release.description %}
            <div class="content-body">
                {{ release.description|safe }}
            </div>
            {% endif %}

            {% if release.player_code %}
            <div class="content-embed">
                {{ release.player_code|safe }}
            </div>
            {% endif %}
        </article>
    </section>


    <section id="videos">
        <h2>Videos</h2>

        <article class="content video">
            {% include "music/_video_embed.html" %}

            <header class="content-header">
                <h3 class="content-title">
                    <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                </h3>
                <p class="content-subtitle">{{ video.publish_on|date }}</p>
            </header>
        </article>
    </section>


    <section id="shows">
        <h2>Shows</h2>

        {% for gig in gig_list %}
        <article class="content gig">
            <header class="content-header">
                <h3 class="content-title">{{ gig.date|date }}</h3>
                <p class="content-subtitle">
                    {{ gig.venue.name }}, {{ gig.venue.city }}
                </p>
            </header>

            {% if gig.description %}
            <div class="content-body">
                {{ gig.description|safe }}
            </div>
            {% endif %}

            {% if gig.details %}
            <div class="content-body">
                {{ gig.details|safe }}
            </div>
            {% endif %}
        </article>

        {% empty %}
        <p>No shows scheduled.</p>
        {% endfor %}
    </section>


    <section id="news">
        <h2>News</h2>

        <article class="content post">
            <header class="content-header">
                <h3 class="content-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h3>
                <p class="content-subtitle">{{ post.publish_on|date }}</p>
            </header>

            <div class="content-body">
                {{ post.body|safe }}
            </div>
        </article>
    </section>
{% endblock %}
