{% extends 'base.html' %}
{% load cloudinary %}

{% block main_content %}
{% comment %}
<section style="max-width: 800px; margin: auto">
    <div class="embed embed-responsive large-spacing">
        <iframe
            src="https://www.youtube.com/embed/bnDDqI2j1Ok"
            title="I'm You vinyl campaign trailer"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>
{% endcomment %}
<figure class="hero-img large-spacing">
    <a href="/music/">
    <img
        src="{% cloudinary_url 'DECK_release_banner.jpg' width=1280 %}"
        alt="DECK release banner"
    />
    </a>
    {% comment %}
    <figcaption>
        <small>June 13th, 2021: First indoor rehearsal since March 2020.</small>
    </figcaption>
    {% endcomment %}
</figure>

<section id="shows" class="container">
    <h2><a href="{% url 'gig_list' %}">Live</a></h2>

    <div class="gig-list">
        {% include 'shows/_gig_upcoming.html' %}
    </div>
</section>

<section id="news" class="container">
    <h2><a href="{% url 'post_list' %}">News</a></h2>

    {% include 'news/_post_highlight.html' %}
</section>

{% comment %}
<section id="video" class="container">
    <h2><a href="{% url 'video_list' %}">Video</a></h2>

    {% include 'music/_video_highlight.html' %}
</section>

<section id="music" class="container">
    <h2><a href="{% url 'release_list' %}">Music</a></h2>

    {% include 'music/_release_highlight.html' %}
</section>
{% endcomment %}

{% endblock %}
